.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  backdrop-filter: blur(7px);
  background-color: var(--shadow-medium);
  @include flex-container(column, nowrap, center, center);
  @media (max-width: $breakpoint-desktop-wide) {
  }
  @media (max-width: $breakpoint-desktop) {
  }
  @media (max-width: $breakpoint-large-tablet) {
  }
  @media (max-width: $breakpoint-tablet) {
  }
  @media (max-width: $breakpoint-phone) {
  }
}

.modal-content {
  background: linear-gradient(
    to bottom right,
    var(--background-1),
    var(--text-color-4)
  );
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 50vh;
  box-shadow: 0 10px 30px var(--shadow-medium);
  position: relative;
  transition: transform 0.3s ease-in-out;
  @media (max-width: $breakpoint-desktop-wide) {
  }
  @media (max-width: $breakpoint-desktop) {
  }
  @media (max-width: $breakpoint-large-tablet) {
  }
  @media (max-width: $breakpoint-tablet) {
    max-width: 350px;
    padding: 25px;
  }
  @media (max-width: $breakpoint-phone) {
  }
  .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: var(--font-7);
    cursor: pointer;
    color: var(--text-color-inverse-1);
    transition: all 0.3s ease-in-out;

    &:hover {
      color: var(--text-color-inverse);
      transform: scale(1.1);
    }
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
      font-size: var(--font-4);
    }
    @media (max-width: $breakpoint-phone) {
    }
  }

  .modal-body {
    cursor: pointer;
    margin: 0% 0 0 1%;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }
    .skill-heading {
      text-align: center;
      position: relative;
      font-family: var(--font-roboto);
      letter-spacing: 2px;
      font-size: var(--font-3);
      color: var(--light-black-9);
      @media (max-width: $breakpoint-desktop-wide) {
        font-size: var(--font-6);
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
        font-size: var(--font-2);
      }
      @media (max-width: $breakpoint-phone) {
      }
      &::before {
        content: "";
        display: block;
        width: 50%;
        height: 5px;
        background: linear-gradient(90deg, var(--blue-7), var(--pink-4));
        position: absolute;
        bottom: 0;
        left: 50%;
        border-radius: 20px;
        transform: translateX(-50%);
        transition: width 2s ease-in-out;
        animation: underlineAnimation 2s infinite alternate;
      }
      @keyframes underlineAnimation {
        to {
          width: 20%;
        }
      }
    }
    .subheading {
      font-family: var(--font-oswald);
      letter-spacing: 2px;
      font-size: var(--font-10);
      text-transform: capitalize;
      position: relative;
      color: var(--text-color-inverse);
      margin: 1% 0 2% 0;
      @media (max-width: $breakpoint-desktop-wide) {
        font-size: var(--font-11);
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
        font-size: var(--font-8);
        margin: 5% 0 2% 0;
      }
      @media (max-width: $breakpoint-phone) {
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -1.5px;
        left: 0;
        width: 100%;
        height: 1.5px;
        background-color: var(--shadow-medium);
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.5s ease;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }

    p {
      font-family: var(--font-roboto);
      font-size: var(--font-12);
      color: var(--text-color-inverse-1);
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0 0 0 0.5%;
      line-height: 1.5;
      overflow: hidden;
      @media (max-width: $breakpoint-desktop-wide) {
        font-size: var(--font-13);
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
        font-size: var(--font-9);
      }
      @media (max-width: $breakpoint-phone) {
      }
    }

    ul {
      margin: 0 0 0 0.5%;
      padding: 0 0 0 20px;
      color: var(--tex-color-inverse-1);
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
      li {
        position: relative;
        margin: 0 0 2% 0;
        color: var(--text-color-inverse-1);
        font-family: var(--font-roboto);
        font-size: var(--font-12);
        letter-spacing: 1px;
        font-weight: 400;
        @media (max-width: $breakpoint-desktop-wide) {
          font-size: var(--font-13);
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
          font-size: var(--font-9);
        }
        @media (max-width: $breakpoint-phone) {
        }
        &::before {
          content: "•";
          position: absolute;
          left: -20px;
          top: -5px;
          color: var(--tex-color-inverse-1);
          font-size: var(--font-10);
          transition: color 0.3s ease;
        }
      }
    }
  }
}
