.about-section {
  margin: 0 auto;
  max-width: max(1500px, 60%);
  height: 100dvh;
  text-align: center;
  position: relative;
  @media (max-width: $breakpoint-desktop-wide) {
    max-width: max(1300px, 60%);
  }
  @media (max-width: $breakpoint-desktop) {
    max-width: max(1150px, 60%);
  }
  @media (max-width: $breakpoint-large-tablet) {
    max-width: max(900px, 60%);
  }
  @media (max-width: $breakpoint-tablet) {
    max-width: max(500px, 60%);
  }
  @media (max-width: $breakpoint-phone) {
    max-width: max(300px, 60%);
  }
  @media screen and (max-width: 1000px) and (max-height: 450px) {
    max-width: max(800px, 60%);
  }
  .intro {
    @include flex-container(row, nowrap, center, center);
    margin: 10vh 0 2vh 0;
    letter-spacing: 3px;
    font-weight: 400;
    font-family: var(--font-elianto);
    font-size: var(--font-5);
    color: var(--text-color-1);
    @media (max-width: $breakpoint-desktop-wide) {
      font-size: var(--font-6);
      margin: 9vh 0 0 0;
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
      font-size: var(--font-5);
    }
    @media (max-width: $breakpoint-phone) {
      @include flex-container(column, nowrap, center, center);
    }
    @media screen and (max-width: 1000px) and (max-height: 450px) {
    }
    .handwave {
      max-width: 4vw;
      height: auto;
      object-fit: cover;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
        max-width: 6vw;
      }
      @media screen and (max-width: 1000px) and (max-height: 450px) {
      }
    }
  }

  .about-description {
    font-family: var(--font-roboto);
    font-size: var(--font-10);
    color: var(--text-color-4);
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: justify;
    margin: 5vh 0 0 0;
    @media (max-width: $breakpoint-desktop-wide) {
      font-size: var(--font-11);
      margin: 4vh 0 0 0;
    }
    @media (max-width: $breakpoint-desktop) {
      margin: 5vh 0 0 0;
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
      font-size: var(--font-10);
    }
    @media (max-width: $breakpoint-phone) {
      margin: 1vh 0 0 0;
      line-height: 1.5;
      text-align: center;
    }
    @media screen and (max-width: 1000px) and (max-height: 450px) {
    }
  }

  .cards-container {
    margin: 5vh 0 0 0;
    @media (max-width: $breakpoint-desktop-wide) {
      margin: 4vh 0 0 0;
    }
    @media (max-width: $breakpoint-desktop) {
      margin: 5vh 0 0 0;
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
      margin: 1vh 0 0 0;
    }
    @media screen and (max-width: 1000px) and (max-height: 450px) {
    }
    .cards {
      @include flex-container(row, nowrap, center, center);
      gap: 2vw;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2vh;
      }
      @media screen and (max-width: 1000px) and (max-height: 450px) {
      }
      .card {
        background-color: var(--background-1);
        box-shadow: 0px 10px 20px var(--shadow-medium);
        border-radius: 12px;
        text-align: center;
        max-width: 250px;
        max-height: 300px;
        padding: 30px;
        @media (max-width: $breakpoint-desktop-wide) {
          padding: 25px;
          max-width: 230px;
          max-height: 280px;
        }
        @media (max-width: $breakpoint-desktop) {
          padding: 20px;
          max-width: 200px;
          max-height: 250px;
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
          padding: 18px;
          max-width: 150px;
          max-height: 200px;
        }
        @media (max-width: $breakpoint-phone) {
        }
        @media screen and (max-width: 1000px) and (max-height: 450px) {
        }
        .card-inner {
          @include flex-container(column, nowrap, center, center);
          gap: 2vh;
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
            gap: 0;
          }
          @media screen and (max-width: 1000px) and (max-height: 450px) {
          }
          .card-icon {
            max-width: 100px;
            height: auto;
            object-fit: contain;
            @media (max-width: $breakpoint-desktop-wide) {
              max-width: 90px;
            }
            @media (max-width: $breakpoint-desktop) {
              max-width: 80px;
            }
            @media (max-width: $breakpoint-large-tablet) {
            }
            @media (max-width: $breakpoint-tablet) {
              max-width: 70px;
            }
            @media (max-width: $breakpoint-phone) {
              max-width: 40px;
            }
            @media screen and (max-width: 1000px) and (max-height: 450px) {
            }
          }

          .card-title {
            font-family: var(--font-roboto);
            text-transform: uppercase;
            font-size: var(--font-10);
            font-weight: 400;
            margin: 2vh 0 0 0;
            letter-spacing: 2px;
            color: var(--text-color-inverse-1);
            @media (max-width: $breakpoint-desktop-wide) {
              font-size: var(--font-11);
            }
            @media (max-width: $breakpoint-desktop) {
            }
            @media (max-width: $breakpoint-large-tablet) {
            }
            @media (max-width: $breakpoint-tablet) {
            }
            @media (max-width: $breakpoint-phone) {
              font-size: var(--font-12);
              margin: none;
            }
            @media screen and (max-width: 1000px) and (max-height: 450px) {
            }
          }
        }
      }
    }
  }
}
