.about-section {
  margin: 0 auto;
  max-width: max(1500px, 60%);
  height: 100dvh;
  text-align: center;
  position: relative;
  .intro {
    @include flex-container(row, nowrap, center, center);
    margin: 10vh 0 2vh 0;
    letter-spacing: 3px;
    font-weight: 400;
    font-family: var(--font-elianto);
    font-size: var(--font-5);
    color: var(--text-color-1);
    .handwave {
      max-width: 4vw;
      height: auto;
      object-fit: cover;
    }
  }

  .about-description {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #666;
    margin-bottom: 30px;
  }

  .cards-container {
    justify-items: center;
    margin-top: 40px;
  }

  .card {
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    text-align: center;

    .card-inner {
      display: flex;
      flex-direction: column;
      align-items: center;

      .card-icon {
        width: 80px;
        height: 80px;
        object-fit: contain;
        margin-bottom: 15px;
      }

      .card-title {
        font-size: 1.4rem;
        font-weight: bold;
        color: #333;
        margin-bottom: 0;
      }
    }
  }
}
