.about-section {
  .text-container {
    .animated-text {
      h2.section-title {
        font-size: 2rem;
        color: #333;
        text-align: center;
        margin-bottom: 1rem;
        font-weight: bold;
      }

      p.about-description {
        font-size: 1.2rem;
        color: #666;
        text-align: center;
        line-height: 1.6;
      }
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
    gap: 80rem;
    justify-items: center;
    margin-top: 2rem;

    .card {
      .card-inner {
        background-color: #fff;
        padding: 1.5rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;

        .card-icon {
          width: 80px;
          height: 80px;
        }

        .card-title {
          margin-top: 1rem;
          font-size: 1.2rem;
          font-weight: bold;
        }

        &:hover {
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
