.comingsoon {
  font-family: var(--font-roboto);
  text-align: center;
  margin: 5vh 0 0 0;
  letter-spacing: 2px;
  font-size: var(--font-7);
  color: var(--text-color);
  text-transform: capitalize;
}
