/* SCSS for Parallax component */
.parallax {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  text-align: center;
  scroll-behavior: smooth; /* Smooth scrolling */

  @media (max-width: $breakpoint-desktop-wide) {
    /* Adjust styles for wide desktop */
  }

  @media (max-width: $breakpoint-desktop) {
    /* Adjust styles for desktop */
  }

  @media (max-width: $breakpoint-large-tablet) {
    /* Adjust styles for large tablets */
  }

  @media (max-width: $breakpoint-tablet) {
    /* Adjust styles for tablets */
  }

  @media (max-width: $breakpoint-phone) {
    /* Adjust styles for phones */
  }

  h1 {
    margin: 1% 0 0 0;
    font-family: var(--font-oswald);
    font-size: var(--font-1);
    font-weight: 600;
    color: var(--text-color);
    letter-spacing: 4px;
    line-height: 1.6;
    text-transform: uppercase;

    @media (max-width: $breakpoint-tablet) {
      font-size: var(--font-4);
    }

    @media (max-width: $breakpoint-phone) {
      font-size: var(--font-3);
    }
  }

  .mountains {
    background-image: url("/parallax/mountains.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
  }

  .planets,
  .stars,
  .clouds {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease;

    @media (max-width: $breakpoint-phone) {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .planets {
    z-index: 2;
    margin: 6% 0 0 0;
    perspective: 1000px; /* Adjust perspective for 3D depth effect */
    transform-style: preserve-3d;
    transform: translateZ(-50px); /* Adjust translateZ for depth perception */
  }

  .stars {
    z-index: 1;
    perspective: 1000px; /* Adjust perspective for 3D depth effect */
    transform-style: preserve-3d;
    transform: translateZ(
      -100px
    ); /* Adjust translateZ for deeper depth perception */
    background-image: url("/parallax/stars.png");
  }

  .clouds {
    z-index: 1;
    perspective: 1000px; /* Adjust perspective for 3D depth effect */
    transform-style: preserve-3d;
    transform: translateZ(
      -100px
    ); /* Adjust translateZ for deeper depth perception */
    background-image: url("/parallax/blue-sky.png");
  }

  &.projects {
    background: linear-gradient(
      180deg,
      #111132,
      #505064
    ); /* Gradient for projects */
  }

  .planets:hover,
  .stars:hover,
  .clouds:hover {
    transform: scale(1.1) rotate(5deg); /* Adjust scale and rotation for hover effect */
  }

  /* Theme-specific styles */
  .theme-dark {
    .parallax .stars {
      background-image: url("/parallax/stars.png");
    }
  }

  .theme-light {
    .parallax .clouds {
      background-image: url("/parallax/blue-sky.png");
    }
  }
}
