.main-project {
  position: relative;
  .progress-wrapper {
    .progress {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 1000;
      .projectsTitle {
        @include flex-container(row, nowrap, center, center);
        font-family: var(--font-blackpast);
        font-size: var(--font-6);
        color: var(--text-color-1);
        margin: 1.5% 0 0 0;
        letter-spacing: 3px;
        font-weight: 400;
        @media (max-width: $breakpoint-desktop-wide) {
          font-size: var(--font-7);
        }
        @media (max-width: $breakpoint-desktop) {
          font-size: var(--font-8);
        }
        @media (max-width: $breakpoint-large-tablet) {
          font-size: var(--font-6);
          margin: 2% 0 0 0;
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
        @media screen and (max-width: 1000px) and (max-height: 450px) {
        }
      }
      .progressBar {
        height: 5px;
        background-color: var(--progress-green);
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
        @media screen and (max-width: 1000px) and (max-height: 450px) {
        }
      }
    }
  }

  .singleProject {
    overflow: hidden;
    .wrapper {
      @include flex-container(row, nowrap, center, center);
      max-width: max(1566px, 60%);
      margin: 1% auto 1% auto;
      gap: 2vw;
      @media (max-width: $breakpoint-desktop-wide) {
        max-width: max(1366px, 60%);
        gap: 1.5vw;
      }
      @media (max-width: $breakpoint-desktop) {
        max-width: max(1100px, 60%);
        gap: 1vw;
      }
      @media (max-width: $breakpoint-large-tablet) {
        @include flex-container(column, nowrap, center, center);
        max-width: max(850px, 60%);
        gap: 0;
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
      @media screen and (max-width: 1000px) and (max-height: 450px) {
      }

      .videoContainer {
        flex: 1;
        height: 100%;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
          @media screen and (max-width: 1000px) and (max-height: 450px) {
          }
          @media (max-width: 768px) {
            object-fit: contain;
          }
        }
      }

      .textContainer {
        flex: 1;
        @include flex-container(column, nowrap, center, center);
        gap: 2.5vh;
        @media (max-width: 768px) {
          align-items: center;
          text-align: center;
        }
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
          gap: 2vh;
        }
        @media (max-width: $breakpoint-large-tablet) {
          gap: 1.5vh;
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
        @media screen and (max-width: 1000px) and (max-height: 450px) {
        }
        h2 {
          font-family: var(--font-lighters);
          font-size: var(--font-6);
          font-weight: 400;
          color: var(--text-color-1);
          letter-spacing: 2px;
          @media (max-width: $breakpoint-desktop-wide) {
            font-size: var(--font-7);
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
            font-size: var(--font-5);
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
          @media screen and (max-width: 1000px) and (max-height: 450px) {
          }
        }

        h3 {
          font-family: var(--font-elianto);
          font-size: var(--font-8);
          font-weight: 400;
          color: var(--text-color-4);
          letter-spacing: 2px;
          @media (max-width: $breakpoint-desktop-wide) {
            font-size: var(--font-9);
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
            font-size: var(--font-7);
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
          @media screen and (max-width: 1000px) and (max-height: 450px) {
          }
        }

        p {
          font-family: var(--font-roboto);
          font-size: var(--font-10);
          font-weight: 400;
          color: var(--text-color-3);
          letter-spacing: 1.5px;
          line-height: 1.5;
          text-align: justify;
          @media (max-width: $breakpoint-desktop-wide) {
            font-size: var(--font-11);
            letter-spacing: 1.5px;
          }
          @media (max-width: $breakpoint-desktop) {
            letter-spacing: 1px;
            line-height: 1.7;
          }
          @media (max-width: $breakpoint-large-tablet) {
            font-size: var(--font-9);
            letter-spacing: 1px;
            line-height: 1.8;
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
          @media screen and (max-width: 1000px) and (max-height: 450px) {
          }
        }
        .button-container {
          @include flex-container(row, nowrap, center, center);
          gap: 1.2vw;
          @media (max-width: $breakpoint-desktop-wide) {
            gap: 1vw;
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
            gap: 1.5vw;
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
          @media screen and (max-width: 1000px) and (max-height: 450px) {
          }
          button {
            font-family: var(--font-tektur);
            font-size: var(--font-12);
            letter-spacing: 3px;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            background-color: #3b82f6;
            color: #ffffff;
            padding: 0.8rem 1.6rem;
            border-radius: 0.5rem;
            border-color: #2563eb;
            border-style: solid;
            border-width: 0px 0px 8px 0px;
            @media (max-width: $breakpoint-desktop-wide) {
              font-size: var(--font-13);
            }
            @media (max-width: $breakpoint-desktop) {
              padding: 0.7rem 1.4rem;
              font-size: var(--font-14);
            }
            @media (max-width: $breakpoint-large-tablet) {
              padding: 0.7rem 1.4rem;
              font-size: var(--font-11);
            }
            @media (max-width: $breakpoint-tablet) {
            }
            @media (max-width: $breakpoint-phone) {
            }
            @media screen and (max-width: 1000px) and (max-height: 450px) {
            }
            &:hover {
              filter: brightness(1.1);
              transform: translateY(-2px);
              border-width: 0px 0px 12px 0px;
            }
            &:active {
              filter: brightness(0.9);
              transform: translateY(2px);
              border-width: 0px 0px 4px 0px;
            }
          }
        }
      }
    }
  }
}
