.coverflow {
  height: 100vh;
  @include flex-container(row, nowrap, center, space-between);
  overflow: hidden;
  @media (max-width: $breakpoint-desktop-wide) {
  }
  @media (max-width: $breakpoint-desktop) {
  }
  @media (max-width: $breakpoint-large-tablet) {
  }
  @media (max-width: $breakpoint-tablet) {
  }
  @media (max-width: $breakpoint-phone) {
  }
  h1 {
    position: absolute;
    font-family: var(--font-moleth);
    font-size: var(--font-4);
    font-weight: 300;
    letter-spacing: 4px;
    color: var(--text-color);
    margin: 5% 0 0 0;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }
  }
  .slides {
    display: grid;
    position: relative;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }
    > .slide {
      grid-area: 1 / -1;
      transform-style: preserve-3d;

      .slideContent {
        position: relative;
        width: 40dvw;
        height: 100dvh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: transform 1s ease-in-out;
        opacity: 0.5;
        display: grid;
        align-content: center;
        transform-style: preserve-3d;
        transform: perspective(1000px) translateX(calc(110% * var(--offset)))
          rotateY(calc(-45deg * var(--dir)));
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
      }

      .slideContentInner {
        transform-style: preserve-3d;
        transform: translateZ(200px) translateY(-30px) translateX(70px);
        transition: opacity 1s linear;
        opacity: 0;
      }

      .slideContentInner .slideTitle {
        font-family: var(--font-playfair);
        font-size: var(--font-6);
        font-weight: 400;
        letter-spacing: 4px;
        color: var(--text-color-4);
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
      }
      .slideContentInner .slideSubtitle {
        font-family: var(--font-roboto);
        font-size: var(--font-8);
        font-weight: 400;
        letter-spacing: 4px;
        color: var(--text-color-4);
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
      }
      .slideContentInner .slideSubtitle::before {
        content: "- ";
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
      }

      .slideContentInner .slideDescription {
        font-family: var(--font-roboto);
        font-size: var(--font-11);
        font-weight: 300;
        color: var(--text-color-4);
        line-height: 1.5;
        margin: 0 0 0 0.5%;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
      }

      // .slideBackground {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   right: 0;
      //   bottom: 0;
      //   background-size: cover;
      //   background-position: center center;
      //   z-index: -1;
      //   opacity: 0;
      //   transition: opacity 0.3s linear, transform 0.3s ease-in-out;
      //   pointer-events: none;
      //   transform: translateX(calc(10% * var(--dir)));
      // }

      &[data-active] {
        z-index: 2;
        pointer-events: auto;
      }

      &[data-active] .slideBackground {
        opacity: 0.2;
        transform: none;
      }

      &[data-active] .slideContentInner {
        opacity: 1;
      }

      &[data-active] .slideContent {
        --x: calc(var(--px) - 0.5);
        --y: calc(var(--py) - 0.5);
        opacity: 1;
        transform: perspective(1000px);
      }

      &[data-active] .slideContent:hover {
        transition: none;
        transform: perspective(1000px) rotateY(calc(var(--x) * 45deg))
          rotateX(calc(var(--y) * -45deg));
      }
    }

    > button {
      appearance: none;
      background: transparent;
      border: none;
      color: var(--text-color);
      position: absolute;
      font-size: 10rem;
      height: 80%;
      top: calc(50% - height/2);
      transition: opacity 0.3s;
      opacity: 0.5;
      z-index: 5;

      &:hover {
        opacity: 1;
      }

      &:focus {
        outline: none;
      }

      &:first-child {
        left: -8%;
      }

      &:last-child {
        right: -8%;
      }
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
    }
  }

  .slideVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }
  }
}
