.skills {
  background-color: var(--background-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $breakpoint-desktop-wide) {
  }
  @media (max-width: $breakpoint-desktop) {
  }
  @media (max-width: $breakpoint-large-tablet) {
  }
  @media (max-width: $breakpoint-tablet) {
  }
  @media (max-width: $breakpoint-phone) {
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 0px;
    align-self: flex-end;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }

    p {
      font-family: var(--font-elianto);
      font-size: var(--font-11);
      color: var(--text-color-3);
      color: gray;
      letter-spacing: 0px;
      text-align: right;
      margin: 5% 0 0 0;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
        width: 300px;
      }
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
      width: 100%;
    }

    .title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 50px;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }
      @media (max-width: $breakpoint-phone) {
      }

      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
      }

      h1 {
        font-family: var(--font-interstate);
        font-size: var(--font-12);
        font-weight: 900;
        color: var(--text-color-3);
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
          font-size: var(--font-13);
        }
        @media (max-width: $breakpoint-phone) {
        }

        span {
          color: var(--text-color-4);
        }
      }

      button {
        width: 250px;
        height: 80px;
        background-color: var(--primary-color-3);
        color: var(--text-color-4);
        font-size: var(--font-8);
        border: 1px solid var(--text-color-4);
        border-radius: 40px;
        font-family: var(--font-interstate);
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }

        &:hover {
          background-color: var(--text-color-4);
          color: var(--primary-color-3);
          border: 1px solid var(--primary-color-3);
          transition: background-color 0.3s ease, color 0.3s ease,
            border 0.3s ease;
        }
      }
    }
  }
  .mySwiper {
    width: 80%;
    height: 60%;
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      .card {
        width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--card-background-color);
        border-radius: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
        position: relative;
        img {
          width: 100px;
          height: 100px;
          object-fit: contain;
          margin-bottom: 20px;
        }
        span {
          font-size: var(--font-10);
          color: var(--text-color-4);
          margin-bottom: 20px;
        }
        .seeMoreButton {
          display: none;
          position: absolute;
          bottom: 20px;
          left: 50%;
          transform: translateX(-50%);
          padding: 10px 20px;
          background-color: var(--primary-color-3);
          color: var(--text-color-4);
          border: none;
          border-radius: 10px;
          cursor: pointer;
          &:hover {
            background-color: var(--text-color-4);
            color: var(--primary-color-3);
          }
        }
        &:hover .seeMoreButton {
          display: block;
        }
        .detailsPanel {
          margin-top: 20px;
          text-align: left;
          font-size: var(--font-10);
          color: var(--text-color-4);
        }
      }
    }
  }
}
