.skills {
  background-color: var(--background-color);
  height: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  @include flex-container(column, nowrap, center, center);
  @media (max-width: $breakpoint-desktop-wide) {
  }
  @media (max-width: $breakpoint-desktop) {
  }
  @media (max-width: $breakpoint-large-tablet) {
  }
  @media (max-width: $breakpoint-tablet) {
  }
  @media (max-width: $breakpoint-phone) {
  }
  .textContainer {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // gap: 0px;
    flex: 0;
    align-self: flex-end;
    margin-right: 4%;
    @include flex-container(column, center, center, center);
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }

    p {
      font-family: var(--font-elianto);
      font-size: var(--font-11);
      color: var(--text-color-3);
      color: gray;
      letter-spacing: 0px;
      text-align: right;
      margin: 5% 0 0 0;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
        width: 300px;
      }
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
      width: 100%;
    }

    .title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 50px;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }
      @media (max-width: $breakpoint-phone) {
      }

      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
      }

      h1 {
        font-family: var(--font-interstate);
        font-size: var(--font-12);
        font-weight: 900;
        color: var(--text-color-3);
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
          font-size: var(--font-13);
        }
        @media (max-width: $breakpoint-phone) {
        }

        span {
          color: var(--text-color-4);
        }
      }

      button {
        width: 250px;
        height: 80px;
        background-color: var(--primary-color-3);
        color: var(--text-color-4);
        font-size: var(--font-8);
        border: 1px solid var(--text-color-4);
        border-radius: 40px;
        font-family: var(--font-interstate);
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }

        &:hover {
          background-color: var(--text-color-4);
          color: var(--primary-color-3);
          border: 1px solid var(--primary-color-3);
          transition: background-color 0.3s ease, color 0.3s ease,
            border 0.3s ease;
        }
      }
    }
  }
  .mySwiper {
    width: 80%;
    height: 60%;
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      .card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(145deg, #f3f3f3, #e5e5e5);
        border-radius: 12px;
        padding: 20px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      }

      .card:hover {
        transform: translateY(-10px);
        box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
      }

      .card img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 10px;
      }

      .card span {
        margin-top: 10px;
        font-size: 18px;
        color: #333;
        font-weight: 500;
      }

      .card .seeMoreButton {
        margin-top: 15px;
        padding: 10px 20px;
        border: none;
        border-radius: 25px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        font-family: "Roboto", sans-serif;
      }

      .card .seeMoreButton:hover {
        background-color: #0056b3;
      }
    }
  }
}
