:root {
  .theme-dark {
    --background-color: #0c0c1d;
    --background: white;
    --background-1: #f0eada;
    --text-color: white;
    --text-color-1: #f3f3f3;
    --text-color-2: #ffffff09;
    --text-color-3: #aaa;
    --text-color-4: #e5e5e5;
    --text-color-inverse: black;
    --text-color-inverse-1: #3a3a3a;
    --shadow-medium: rgba(0, 0, 0, 0.5);
  }

  .theme-light {
    --background-color: #e6f7ff;
    --background: black;
    --background-1: #0c0c1d;
    --text-color: black;
    --text-color-1: #4b4b4b;
    --text-color-2: #aaa;
    --text-color-3: #5c5757;
    --text-color-4: #3a3a3a;
    --text-color-inverse: white;
    --text-color-inverse-1: #e5e5e5;
    --shadow-medium: rgba(225, 225, 225, 0.5);
  }
}
