.navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 1;

  width: 100%;

  .logo {
    width: 80px;
  }

  .social {
    display: flex;

    a {
      margin-right: 10px;

      img {
        transition: transform 0.3s ease;
        width: 30px;
        height: 30px;
      }

      &:hover img {
        transform: scale(1.2);
      }
    }
  }
}
