.sidebar {
  background-color: var(--background);
  color: var(--text-color-inverse);
  height: 100dvh;
  .bg {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    background: var(--background-1);
    @include flex-container(column, nowrap, center, center);
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
      width: 300px;
    }
    h1 {
      position: relative;
      text-align: center;
      z-index: 1;
      color: var(--text-color-inverse);
      font-family: var(--font-oswald);
      font-size: var(--font-7);
      font-weight: 400;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin: 0 0 3% 0;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
        font-size: var(--font-5);
      }
      @media (max-width: $breakpoint-tablet) {
        font-size: var(--font-4);
      }
      @media (max-width: $breakpoint-phone) {
      }
      @media screen and (max-width: 1000px) and (max-height: 450px) {
        font-size: var(--font-8);
      }
      &::before {
        content: "";
        display: block;
        width: 50%;
        height: 5px;
        background: linear-gradient(90deg, var(--pink-3), var(--purple-4));
        position: absolute;
        bottom: 0;
        left: 50%;
        border-radius: 20px;
        transform: translateX(-50%);
        transition: width 2s ease-in-out;
        animation: underlineAnimation 2s infinite alternate;
      }
      @keyframes underlineAnimation {
        to {
          width: 20%;
        }
      }
    }
    .links {
      height: 90%;
      @include flex-container(column, nowrap, center, center);
      gap: 30px;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
        gap: 40px;
      }
      @media screen and (max-width: 1000px) and (max-height: 450px) {
        margin: -10% 0 0 0;
        gap: 10px;
      }

      a {
        font-family: var(--font-roboto);
        font-size: var(--font-7);
        font-weight: 400;
        letter-spacing: 1px;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
          font-size: var(--font-6);
        }
        @media (max-width: $breakpoint-tablet) {
          font-size: var(--font-5);
        }
        @media (max-width: $breakpoint-phone) {
          font-size: var(--font-5);
        }
        @media screen and (max-width: 1000px) and (max-height: 450px) {
          font-size: var(--font-8);
        }
      }
    }
    .togglebar-container {
      position: absolute;
      bottom: 5%;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
    }
  }

  button {
    position: fixed;
    top: 20px;
    right: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
      right: 20px;
    }
    @media (max-width: $breakpoint-large-tablet) {
      right: 10px;
    }
    @media (max-width: $breakpoint-tablet) {
      right: 5px;
    }
    @media (max-width: $breakpoint-phone) {
      right: 5px;
    }
    @media screen and (max-width: 1000px) and (max-height: 450px) {
      right: 10px;
      top: 3.5%;
    }
  }
}
