@import "vendors/manifest";
@import "utilities/manifest";
@import "base/manifest";
@import "mixins/manifest";
@import "containers/manifest";
@import "components/manifest";
@import "pages/manifest";

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
body {
  background-color: var(--background-color);
  color: lightgray;
  transition: all 0.5s ease-in-out;
}
section {
  height: 100vh;
  scroll-snap-align: center;
}
